@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  text-align: center;
}

#nombre {
  height: 950px;
  background-image: url("../../images/IMG_8605.JPG");
  background-size: cover;
  background-position: center;
  font-size: 24px;
  padding: 20px;
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nombre h3 {
  font-size: 40px;
}

/*Que sea full-screen*/
.wrap {
  width: 90%;
  max-width: 1150px;
  margin: auto;
}

.logo {
  width: 3%;
  height: auto;
  margin-right: 2%;
}

hr {
  height: 1px;
  width: 100%;
  background-color: white;
  /*Color de la línea*/
  border: none;
  /*Elimina borde o línea predeterminada*/
}

.datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

@media (max-width: 902px) {
  #nombre h3 {
    font-size: 25px;
  }
  .logo {
    width: 8%;
    height: auto;
    margin-right: 2%;
  }
  hr {
    height: 1px;
  }
  .datos {
    display: block;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
#mistrabajos {
  text-align: center;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  margin-top: 2%;
}

.wrap2 {
  width: 90%;
  max-width: 1920px;
  margin: auto;
}

#mistrabajos h2 {
  font-size: 40px;
}

#mistrabajos p {
  margin-bottom: 100px;
}

.trabajos {
  background-color: black;
  width: 90%;
}

.imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-container {
  /*Ajusta el ancho del contenedor de cada imagen*/
  width: 100%;
  position: relative;
  margin-right: 2%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*Transición imágenes mis trabajos*/
.image:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*Para cuando haga hover aparezca haz click*/
.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  color: black;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
}

.image-container:hover .hover-text {
  display: block;
}

/*Fin transiciones*/
@media (max-width: 902px) {
  #mistrabajos p {
    margin-bottom: 20%;
    margin-top: 10%;
  }
  .imagenes {
    display: block;
    /*Vertical*/
  }
  .image-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;
    /*Centra horizontalmente*/
  }
}
#sobremi {
  background-color: rgb(48, 48, 48);
  color: white;
}

#sobremi h2 {
  padding: 3%;
  color: rgb(255, 153, 0);
}

#sobremi h3 {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

.carrousel {
  width: 100%;
  padding: 5em;
  overflow: hidden;
}

.carrousel .grande {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.carrousel .img {
  width: 50%;
  min-height: 10vh;
  margin-right: 1%;
}

.fotos {
  -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
          box-shadow: 0 0 10px rgb(0, 0, 0);
}

.carrousel .puntos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  margin: 1em 0 0;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  background-color: rgb(18, 18, 18);
  margin: 1em 1em 0;
}

.carrousel .punto.activo {
  background-color: rgb(245, 245, 245);
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

@media (max-width: 1280px) {
  #sobremi h3 {
    font-size: 25px;
  }
  .carrousel {
    width: 100%;
    padding: 2em;
  }
  .carrousel .grande {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3em;
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .carrousel .img {
    width: 80%; /* Hacer las imágenes ocupar el 100% del contenedor */
    height: auto; /* Ajusta la altura automáticamente según el ancho */
  }
  .carrousel .puntos {
    padding: 1em;
  }
  .carrousel .punto {
    width: 1.5em;
    height: 1.5em;
    margin: 1em 0.5em 0;
  }
}
@media (max-width: 902px) {
  .carrousel {
    padding: 2em;
    overflow: visible;
    /*Imágenes sobresalgan del contenedor*/
  }
  .carrousel .grande {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    /*Columna para imágenes una debajo de otra */
    padding: 1em;
    -webkit-transform: none;
            transform: none;
    /*Elimino la transformación para que las imágenes no se desplacen horizontalmente*/
  }
  .carrousel .img {
    width: 100%;
    /*Hago que las imágenes ocupen todo el ancho disponible*/
    margin-right: 0;
    margin-bottom: 4%;
  }
  /*Ocultar los puntos y punto en la versión móvil*/
  .carrousel .puntos,
  .carrousel .punto {
    display: none;
  }
}
#contacto {
  padding: 20px;
}

#contacto h2 {
  text-align: center;
}

#contacto h3 {
  font-size: 40px;
}

.textoContacto {
  width: 40%;
  margin-left: 8%;
  /* Ajusta el margen entre los elementos según sea necesario */
  text-align: start;
}

.dibujo {
  width: 80%;
  margin-left: -8%;
}

/* Formulario */
.formulario {
  width: 40%;
  font-size: 28px;
  text-align: start;
  margin-left: -2%;
  font-weight: bold;
}

.elem-group label {
  display: block;
  margin-bottom: 5px;
}

.elem-group input[type=text],
.elem-group input[type=email] {
  border: none;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-bottom: 15px;
  width: 70%;
  background: transparent;
  -webkit-transition: border-bottom-color 0.3s;
  transition: border-bottom-color 0.3s;
}

.elem-group textarea {
  width: 66%;
  height: 80px; /* Ajusta la altura según tus necesidades */
  padding: 10px; /* Ajusta el espaciado interno según tus necesidades */
}

.botonEnviar {
  color: rgb(255, 153, 0);
  border: none;
  background: transparent;
  font-size: 25px;
  margin-top: 2%;
  font-weight: bold;
}

/* Fin formulario */
.contactar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

canvas {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1345px) {
  .formulario {
    font-size: 18px;
  }
  #contacto h3 {
    font-size: 35px;
  }
  #contacto {
    padding: 40px;
  }
}
@media (max-width: 902px) {
  #contacto h3 {
    font-size: 35px;
    padding: 5%;
  }
  .formulario {
    width: 100%;
    margin-left: 15%;
    font-size: 20px;
    text-align: start;
    font-weight: 300;
  }
  .elem-group input[type=text],
  .elem-group input[type=email] {
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-bottom: 15px;
    width: 70%;
    background: transparent;
    -webkit-transition: border-bottom-color 0.3s;
    transition: border-bottom-color 0.3s;
  }
  .elem-group textarea {
    width: 66%;
    height: 60px; /* Ajusta la altura según tus necesidades */
    padding: 10px; /* Ajusta el espaciado interno según tus necesidades */
  }
  .botonEnviar {
    color: rgb(255, 153, 0);
    border: none;
    background: transparent;
    font-size: 20px;
    margin-top: 1%;
    font-weight: 300;
  }
  #contacto h3 {
    font-size: 25px;
  }
  .textoContacto {
    width: 100%;
    margin: 0;
    text-align: justify;
  }
  .dibujo {
    width: 100%;
    margin: 0;
    margin-top: -15%;
  }
  .contactar {
    display: block;
  }
  canvas {
    width: 50%;
    height: 50%;
  }
}
.naranja {
  color: rgb(255, 153, 0);
}

footer {
  background-color: rgb(48, 48, 48);
  color: white;
  text-align: center;
  padding: 2%;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 1%;
}

.mifirma {
  width: 8%;
}

@media (max-width: 902px) {
  .mifirma {
    width: 15%;
  }
}