hr {
    height: 1px; 
    width: 50%;
    background-color: black; /*Color de la línea*/
    border: none; /*Elimina borde o línea predeterminada*/
}

#nombre {
    margin: 0; /*Elimina el margen*/
    padding: 0; /*Elimina el relleno*/
    background-image: url("IMG_8605.JPG");
    background-size: cover;
    background-position: center;
    font-size: 24px;
    padding: 20px;
}

#mistrabajos {
    background-color: rgb(248, 248, 248);
    text-align: center;
}

#sobremi {
    background-color: rgb(48, 48, 48);
    color:white;
}

#sobremi h2{
    color: orange;
}

.trabajos {
    width: 20%;
    background-color: black;
}