@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

hr {
    height: 1px; 
    width: 50%;
    background-color: white; /*Color de la línea*/
    border: none; /*Elimina borde o línea predeterminada*/
}

h1{
    font-size: 50px;
}

#nombre {
    height: 950px;
    background-image: url("IMG_8605.JPG");
    background-size: cover;
    background-position: center;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
}

/*Que no se mueva y esté por encima*/
header {
    position:fixed;
    z-index: 1; 
    width: 100%;
}

/*Que sea full-screen*/
.wrap {
    width: 90%;
    max-width: 1150px;
    margin:auto;
}

#nombre h3 {
    font-size: 40px;
}

a {
    text-decoration: none;
    color:white;
}

.logo {
    width: 3%;
    height: auto;
    margin-right: 2%;
}

#mistrabajos {
    text-align: center;
    height: 650px;
    padding: 30px;
    display: flex;
    margin-bottom: 100px;
}

.wrap2 {
    width: 90%;
    max-width: 1920px;
    margin:auto;
}

#mistrabajos h2 {
    font-size: 40px; 
}

#mistrabajos p {
    margin-bottom: 100px;
}

#sobremi {
    background-color: rgb(48, 48, 48);
    color:white;
}

#sobremi h2{
    color: rgb(255, 153, 0);
}

h2{
    text-align: center;
}

.trabajos {
    background-color: black;
    width: 90%;
}

.imagenes {
    display: flex;
    width: 100%;
    justify-content: center;
}

.datos {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
}

.image-container {
    /*Ajusta el ancho del contenedor de cada imagen*/
    width: 100%;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

/*Transición imágenes mis trabajos*/
.image:hover {
    filter: opacity(.5);
    transform: scale(1.1);
}

/*Para cuando haga hover aparezca haz click*/
.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
}

.image-container:hover .hover-text {
    display: block;
}
/*Fin transiciones*/

@media (max-width: 902px) {
    .imagenes {
        display: block; /*Vertical*/
    }
    
    .image-container {
        width: 80%; 
        margin-bottom: 20px;
        margin: 0 auto; /*Centra horizontalmente*/
    }
}

#contacto {
    text-align: center;
    height: 550px;
    padding: 20px;
}

#contacto h2 {
    text-align: center;
}

#contacto h3 {
    font-size: 40px;
}

.wrap3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1900px; /* Ajusta el ancho máximo según tu diseño */
    margin: 0 auto;
}

.wrap3 div {
    flex: 1;
}

canvas {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

}

@media (max-width: 902px) {
    canvas {
        width: 30%;
    }
}

footer {
    background-color: rgb(48, 48, 48);
    color:white;
    text-align: center;
    padding: 2%;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 1%;
}
