#nombre {
    height: 950px;
    background-image: url("../../images/IMG_8605.JPG");
    background-size: cover;
    background-position: center;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
}

#nombre h3 {
    font-size: 40px;
}

/*Que sea full-screen*/
.wrap {
    width: 90%;
    max-width: 1150px;
    margin: auto;
}

.logo {
    width: 3%;
    height: auto;
    margin-right: 2%;
}

hr {
    height: 1px;
    width: 100%;
    background-color: white;
    /*Color de la línea*/
    border: none;
    /*Elimina borde o línea predeterminada*/
}

.datos {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
}

@media (max-width: 902px) {
    #nombre h3 {
        font-size: 25px;
    }

    .logo {
        width: 8%;
        height: auto;
        margin-right: 2%;
    }

    hr {
        height: 1px;
    }

    .datos {
        display: block;
        width: 100%;
        justify-content: center;
    }
}
