#nombre {
    height: 950px;
    background-image: url("../images/IMG_8605.JPG");
    background-size: cover;
    background-position: center;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
}