@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
}


h2 {
    text-align: center;
}

@import "components/_presentacion";
@import "components/_mistrabajos";
@import "components/_sobremi";
@import "components/_contacto";
@import "components/_footer";

