@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

hr {
    height: 1px;
    width: 100%;
    background-color: white;
    /*Color de la línea*/
    border: none;
    /*Elimina borde o línea predeterminada*/
}

h1 {
    font-size: 50px;
}


h2 {
    text-align: center;
}

.datos {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
}

@import "components/_presentacion";
@import "components/_mistrabajos";
@import "components/_sobremi";
@import "components/_contacto";
@import "components/_footer";

